LanguageBoosterGame/Service References/LanguageBoosterService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LanguageBoosterService" />
  <xs:element name="GetHighscores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHighscoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LanguageBoosterService" minOccurs="0" name="GetHighscoresResult" nillable="true" type="q1:ArrayOfScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LanguageBoosterService" minOccurs="0" name="NewScore" nillable="true" type="q2:Score" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitScoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LanguageBoosterService" minOccurs="0" name="NewPlayer" nillable="true" type="q3:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerHighScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LanguageBoosterService" minOccurs="0" name="NewPlayer" nillable="true" type="q4:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerHighScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LanguageBoosterService" minOccurs="0" name="GetPlayerHighScoreResult" nillable="true" type="q5:Score" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LanguageBoosterService" minOccurs="0" name="NewPlayer" nillable="true" type="q6:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LanguageBoosterService" minOccurs="0" name="GetNextWordResult" nillable="true" type="q7:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LanguageBoosterService" minOccurs="0" name="NewWord" nillable="true" type="q8:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitWordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LanguageBoosterService" minOccurs="0" name="NewWord" nillable="true" type="q9:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LanguageBoosterService" minOccurs="0" name="GetWordsResult" nillable="true" type="q10:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWordCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>